/* GENERAL */

a {}

ul {
    margin-left: 0;
}


/* NAVBAR */

.navbar-toggler {
    line-height: inherit !important;
}

.navbar>button {
    text-decoration: none;
    cursor: pointer;
}

#map {
    height: 500px;
    width: 100%;
}

.attraction-list img {
    width: 15px;
    vertical-align: baseline;
    margin-right: 10px;
}

.attraction-list li {
    list-style: none;
}


/* MODALs */

.modal {
    vertical-align: middle;
}
