/* GENERAL */

a {}


/* NAVBAR */

.navbar-toggler {
    line-height: inherit !important;
}

#map {
    height: 500px;
    width: 100%;
}

.attraction-list img {
    width: 15px;
    vertical-align: baseline;
    margin-right: 10px;
}

.city-list li,
.attraction-list li {
    list-style: none;
}
